.expandBtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  background-color: #24305e;
  animation-name: cate;
  animation-duration: 0.8s;
}

.mainContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 80%;
  background-color: #24305e;
  -o-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.secondContainer {
  position: absolute;
  right: 70%;
  bottom: 0;
  width: 30%;
  height: 50%;
  border: none;
  outline: none;
  background-color: #24305e;
  cursor: pointer;
  -o-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.thirdContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 50%;
  border: none;
  outline: none;
  background-color: #24305e;
  cursor: pointer;
  -o-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
