.expandBtn {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  width: 100%;
  border: none;
  outline: none;
  background-color: #f76c6c;
}

.expandBtn:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.btnInfo {
  position: absolute;
  bottom: 0;
  margin-bottom: 10%;
  margin-left: 5%;
  color: white;
  font-weight: 900;
  text-align: left;
}

.divider {
  border-top: 1px solid white;
  width: 30px;
}

.newsContainer {
  margin: 5%;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
}

.spinnerContainer {
  position: absolute;
  right: 50%;
  top: 50%;
}

/* .feedContainer {
  position: fixed;
  width: 60%;
  height: 66%;
  margin: 5%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  background-color: #fafafa;
} */

.calendarIcon {
  width: 50%;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.calendarIconSmall {
  width: 20%;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.mainContainer {
  position: absolute;
  right: 0;
  width: 70%;
  min-height: 100%;
  background-color: #f76c6c;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.secondContainer {
  position: fixed;
  right: 0;
  width: 30%;
  height: 50%;
  border: none;
  outline: none;
  background-color: #f76c6c;
  cursor: pointer;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.thirdContainer {
  position: fixed;
  right: 0;
  width: 50%;
  height: 20%;
  border: none;
  outline: none;
  background-color: #f76c6c;
  cursor: pointer;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
