* {
  box-sizing: border-box;
}

.mainContainer {
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.signupForm input {
  width: 100%;
  resize: vertical;
  height: 4vh;
  border: 1px solid white;
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}

.signupForm .signupBtn {
  cursor: pointer;
  font-size: 2vh;
  color: white;
  font-weight: 500;
  border: 1px solid #f76c6c;
  background-color: #f76c6c;
}

.signupForm .signupBtn:hover {
  background-color: #ff5151;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
